doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FForum
    body
        header 
            if(user)
                p Welcome back #{user.nom}
                a(href="/logout") Logout
            else 
                a(href="/login") Login
        h2 #{question.question}
        if(user)
            form(action=`/question/${question._id}`, method="post") 
                //- input(type="hidden" name="question" value=question._id)
                .row 
                    input(type="text" name="reponse" placeholder="Votre reponse ici...")
                button Envoyer
        .questions-wrapper 
            each rs in reponses 
                .reponse 
                    p #{rs.date.toDateString()} #{rs.user_id.email}
                    p #{rs.reponse}